<!DOCTYPE html>
<html ng-app="fv" ng-controller="AppController">
<head>
  <title ng-bind="pageTitle"></title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

  <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
  <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

  <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
  <script type="text/javascript" src="<%= file %>"></script><% }); %>
  <script type="text/javascript" src="https://code.angularjs.org/1.3.13/i18n/angular-locale_pl-pl.js"></script>
</head>
<body>
  <header class="fixed-action-btn">
    <a ui-sref="fv.documents" class="btn-floating btn-large red"><i class="large mdi-action-view-list"></i></a>
    <ul>
      <li>
        <a ui-sref="fv.clients" class="btn-floating btn-large red"><i class="large mdi-social-people"></i></a>
      </li>
      <li>
        <a ui-sref="fv.documents.new" class="btn-floating btn-large red"><i class="large mdi-content-add"></i></a>
      </li>
    </ul>
  </header>

  <div ui-view="aside"></div>
  
  <section>
    <div class="container">
      <ng-include src="'helper/loader.tpl.html'"></ng-include>
      <main ui-view="main"></main>
    </div>
  </section>

  <footer class="container">
  </footer>
</body>
</html>