<form class="edit-document">
    <h4>
        Faktura nr {{ model.document.serial_number }}{{ model.document.serial_number_suffix }}
        <small class="grey-text text-darken-1" ng-show="model.client.id">dla {{ model.client.short_name }}</small>
    </h4>
    <div class="section">
        <div class="row">
            <div class="col s6 input-field">
                <label for="pd" ng-class="{active: model.document.print_date.length > 0 }">Data wystawienia</label>
                <input id="pd" type="text" class="datepicker" ng-model="model.document.print_date" ng-change="model.onDateChange()" />
            </div>
            <div class="col s6 input-field">
                <label for="sd" ng-class="{active: model.document.sell_date.length > 0 }">Data dokonania</label>
                <input id="sd" type="text" class="datepicker" ng-model="model.document.sell_date" />
            </div>
        </div>
    </div>
    <div class="section">
        <table class="document">
            <thead>
                <tr>
                    <th>Lp</th>
                    <th>Tytuł</th>
                    <th class="center-align">Ilość</th>
                    <th class="right-align">Cena</th>
                    <th class="center-align">VAT</th>
                    <th class="right-align">Netto</th>
                    <th class="right-align">W. VAT</th>
                    <th class="right-align">Brutto</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in model.document.items">
                    <td><p class="lp">{{ $index + 1 }}</p></td>
                    <td><input type="text" ng-model="item.title" /></td>
                    <td><input class="center-align" type="text" ng-model="item.pieces"  ng-change="model.calculate(item)"/></td>
                    <td><input class="right-align" type="text" ng-model="item.price" ng-currency ng-change="model.calculate(item)"/></td>
                    <td><input class="center-align" type="text" ng-model="item.vat"  ng-change="model.calculate(item)"/></td>
                    <td><input class="right-align" type="text" ng-model="item.netto" ng-currency  ng-change="model.calculate(item, 'netto')"/></td>
                    <td><input class="right-align" type="text" ng-model="item.vat_value"  ng-currency  ng-change="model.calculate(item, 'vat')"/></td>
                    <td><input class="right-align" type="text" ng-model="item.brutto" ng-currency  ng-change="model.calculate(item, 'brutto')"/></td>
                </tr>
                <tr>
                    <td colspan="5"><button class="btn-floating waves-effect waves-light" ng-click="model.addItem()"><i class="mdi-content-add tiny"></i></button></td>
                    <td><p class="right-align">{{ model.document.netto | currency }}</p></td>
                    <td><p class="right-align">{{ model.document.vat | currency }}</p></td>
                    <td><p class="right-align">{{ model.document.brutto | currency }}</p></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="section">
        <div class="row">
            <div class="col m8">
                <h5>
                    Do zapłaty: <strong>{{ model.document.brutto | currency }}</strong>
                </h5>
                <p>
                    Słownie: <in-words amount="model.document.brutto" ng-model="model.document.in_word"/>
                </p>
            </div>
            <div class="col m4">
                <div class="row">
                    <div class="col s6">
                        <p ng-repeat="payment in model.options.payment">
                            <input name="payment" type="radio" id="test{{ payment.id }}" ng-value="payment.value" ng-model="model.document.payment" />
                            <label for="test{{ payment.id }}">{{ payment.value }}</label>
                        </p>
                    </div>
                    <div class="col s6" ng-show="model.document.payment === 'przelew'">
                        <select ng-model="model.document.payment_offset" ng-options="option.value*1 as (option.value + ' dni') for option in model.options.payment_offset">
                            <option value="" selected disabled>Termin</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="section">
        <button class="btn waves-effect waves-light" ng-click="model.save()" ng-class="{disabled: !model.document.client_id > 0}">
            Zapisz
            <i class="mdi-action-done right"></i>
        </button>
        <div class="right" ng-if="model.document.id > 0">
            <a class="btn btn-flat waves-effect waves-light" ng-click="model.get()">
                Pobierz
                <i class="mdi-file-file-download"></i>
            </a>
            <a class="btn btn-flat waves-effect waves-light" ng-click="model.send()">
                Wyślij
                <i class="mdi-content-send right"></i>
            </a>
            <a class="btn btn-flat waves-effect waves-light modal-trigger" href="#delete-modal" \>
                Usuń
                <i class="mdi-action-delete right"></i>
            </a>
        </div>
    </div>
</form>
  
<div id="delete-modal" class="modal">
    <div class="modal-content">
        <h4>Usuń dokument</h4>
        <p>Czy na pewno chcesz usunąć fakturę?</p>
    </div>
    <div class="modal-footer">
        <a ng-click="model.remove()" class="waves-effect waves-green btn-flat modal-action modal-close">OK</a>
        <a class="waves-effect waves-green btn-flat modal-action modal-close">Anuluj</a>
    </div>
</div>