.add-client {
    position: absolute;
    top: 15px;
    left: 15px;
}
.edit-client {
    .row {
        margin-bottom: 0;
    }
}
.card-reveal {
    position: relative;
    
    .card-footer {
        position: absolute;
        bottom: 0;
        width: 90%;
        text-align: right;
    }
}
.card {
    .card-image {
        img {
            min-width: 250px;
            min-height: 250px;
        }
    }
}
.collection .collection-item.avatar .secondary-content {
    top: 0;
}