<h4>Klienci</h4>
<div class="row">
    <div class="col s8">
        <div class="row">
            <div class="col s12 m6 " ng-repeat="client in model.clients">
                <div class="card medium">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="http://lorempixel.com/index.php?x=310&y=310&cat=abstract">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">{{ client.short_name }} <i class="mdi-navigation-more-vert right"></i></span>
                        <p><a href="mailto:{{ client.email }}">{{ client.email }}</a></p>
                        <p><a href="tel:{{ client.phone }}">{{ client.phone }}</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{ client.long_name }} <i class="mdi-navigation-close right"></i></span>
                        <address class="section">
                            {{ client.address }} <br/>
                            {{ client.zip }} {{ client.city }}
                        </address>
                        <p>nip: {{ client.nip }}<br/>
                            regon: {{ client.regon }}
                        </p>
                        <div class="divider"></div>
                        <p>
                            <a href="mailto:{{ client.email }}">{{ client.email }}</a>
                            <a class="right" href="tel:{{ client.phone }}">{{ client.phone }}</a>
                        </p>
                        <div class="card-footer">
                            <div class="divider"></div>
                            <button class="btn btn-flat waves-effect waves-light" ng-click="model.edit(client)">
                                <i class="mdi-content-create center"></i>
                            </button>
                            <button class="btn btn-flat waves-effect waves-light" ng-click="model.remove(client)" \>
                                <i class="mdi-action-delete center"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col s4">
        <ng-include src="'clients/new.tpl.html'"></ng-include>
    </div>
</div>