<ul id="slide-out" class="side-nav collection clients">
    <li class="collection-header">
        <h5>Klienci</h5>
    </li>
    <li class="collection-item avatar" ng-repeat="client in model.clients">
        <img ng-src="{{ model.thumbnail(client.thumbnail, 'small') }}" alt="" class="circle">
        <span class="title">{{ client.short_name }}</span>
        <p>{{ client.nip }}</p>
        <a href="" class="secondary-content" ng-click="model.choose(client)">
        	<i class="orange-text small material-icons">{{ client.id !== model.choosed ? 'label_outline' : 'label' }}</i>
        </a>
    </li>
</ul>