<table class="hoverable documents">
	<thead>
		<tr>
			<th>Data</th>
			<th>Numer</th>
			<th>Netto</th>
			<th>Vat</th>
			<th>Brutto</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="doc in model.documents" ng-click="model.view(doc)" ng-dblclick="model.edit(doc)" ng-init="model.summaryIncrease(doc)">
			<td>{{ doc.sell_date }}</td>
			<td>{{ doc.serial_number }}{{ doc.serial_number_suffix }}</td>
			<td>{{ doc.netto | currency }}</td>
			<td>{{ doc.vat | currency }}</td>
			<td>{{ doc.brutto | currency }}</td>
		</tr>
		<tr class="summary">
			<td colspan="2"></td>
			<td>{{ model.summary.netto | currency  }}</td>
			<td>{{ model.summary.vat | currency  }}</td>
			<td>{{ model.summary.brutto | currency }}</td>
		</tr>
	</tbody>
</table>
