<div class="row">
	<div class="col s12 margin-bottom">
		<ul class="tabs">
			<li class="tab col s6"><a class="active" href="#about">Ja</a></li>
			<li class="tab col s6"><a href="#docs">Faktury</a></li>
		</ul>
	</div>
	<div id="docs" class="col s12">
		<div class="section">
			<ul class="pagination">
				<li class="disabled">rok:</li>
				<li ng-repeat="year in model.years"><a class="waves-effect" ng-click="model.getDocsByYear(year);">{{ year }}</a></li>
				<li ng-click="model.month = 0">mc:</li>
				<li ng-repeat="(i, m) in model.months"><a class="waves-effect" ng-click="model.month = i;">{{ i }}</a></li>
			</ul>
		</div>	
		<div class="section">
			<table class="hoverable documents">
				<thead>
					<tr>
						<th class="center-align" style="width: 25%;">Klient</th>
						<th class="center-align">Data</th>
						<th class="center-align">Numer</th>
						<th class="center-align">Netto</th>
						<th class="center-align">Vat</th>
						<th class="center-align">Brutto</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="doc in model.documents | filter: model.monthsFilter | orderBy: '-sell_date'" ng-click="model.edit(doc)" ng-init="model.summaryIncrease(doc, $first)">
						<td class="center-align">{{ doc.client.short_name }}</td>
						<td class="center-align">{{ doc.sell_date }}</td>
						<td class="center-align">{{ doc.serial_number }}{{ doc.serial_number_suffix }}</td>
						<td class="right-align">{{ doc.netto | currency }}</td>
						<td class="right-align">{{ doc.vat | currency }}</td>
						<td class="right-align">{{ doc.brutto | currency }}</td>
					</tr>
					<tr class="summary" ng-if="model.documents.length > 0">
						<td colspan="3"></td>
						<td class="right-align">{{ model.summary.netto | currency  }}</td>
						<td class="right-align">{{ model.summary.vat | currency  }}</td>
						<td class="right-align">{{ model.summary.brutto | currency  }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div id="about" class="col s12">
		<div class="section">
		<ng-include src="'helper/about.tpl.html'"></ng-include>
		</div>
	</div>
</div>


